<settings
		xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
>

	<servers>
		<server>
			<id>sbc-release</id>
			<username>${env.SBC_REPO_USERNAME}</username>
			<password>${env.SBC_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>sbc-snapshot</id>
			<username>${env.SBC_REPO_USERNAME}</username>
			<password>${env.SBC_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>sbc</id>
			<username>${env.SBC_REPO_USERNAME}</username>
			<password>${env.SBC_REPO_PASSWORD}</password>
		</server>
	</servers>

	<mirrors>
		<mirror>
			<id>sbc-mirror</id>
			<name>Mirror to Avereon Maven Repository</name>
			<url>https://repo.avereon.com/sbc</url>
			<mirrorOf>sbc</mirrorOf>
		</mirror>
		<mirror>
			<id>central-mirror</id>
			<name>Mirror to Avereon Maven Repository</name>
			<url>https://repo.avereon.com/central</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>

<!--	<profiles>-->
<!--		<profile>-->
<!--			<id>signjar</id>-->
<!--			<properties>-->
<!--				<jarsigner.keystore>.github/soutbranch.keystore</jarsigner.keystore>-->
<!--				<jarsigner.keystore.password>${env.SBC_KEYSTORE_PASSWORD}</jarsigner.keystore.password>-->
<!--			</properties>-->
<!--		</profile>-->
<!--	</profiles>-->

</settings>
